<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h2{
            background-color: lightskyblue;
        }
        h1 {
            text-align: center;
        }
    </style>
    <title>
        {{title}}
    </title>
</head>
<header>
    {{> header}}
</header>
<body style="background-color: pink">
<h1> About me </h1>
<h2> BCIT ID - A00997227</h2>
<h2> Program - CIT </h2>
<h2> Number of Courses - 7</h2>


</body>
{{> footer}}
</html>>