<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    {{> header}}
    <p>
        <a href="/solmaz">Welcome to my page</a>
        <a href="/weather">Weather</a>
    </p>
</body>

    {{> footer}}

</html>